* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background: white;
    
}

nav {
    padding: 1rem 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 1.5rem;
}

ul {
    list-style: none;
    display: flex;

}

ul li {
    margin-left: 1rem;
}

ul li a {
    color: black;
    text-decoration: none;
}

.hero {
    background: #f4f4f4;
    padding: 2rem 0;
    text-align: center;
}

.hero .cta-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
}

.about, .contact {
    padding: 2rem 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 0.5rem 0 0.25rem;
}

form input, form textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
}

form button {
    padding: 0.5rem 1rem;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.logo {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

